body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(image.jpg);
    background-size:cover;
}

.container {
    background-color: rgba(63, 58, 183, 0.327);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    width: 80%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
}

.choices {
    margin: 20px 0;
}

.choice {
    margin: 0 10px;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.choice:hover {
    background-color: #1976D2;
}
